{% include '_includes/cp-edit-link' %}

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
	<h5 class="my-0 mr-md-auto font-weight-normal"><img src="{{ siteUrl }}public/images/leppo.png" width="200" alt="Leppo"></h5>
	<nav class="my-2 my-md-0 mr-md-3 justify-content-end">
		<a class="p-2 text-dark" href="#">Producten</a>
		<a class="p-2 text-dark" href="#">Hoe werkt het</a>
		<a class="p-2 text-dark" href="#">FAQ</a>
		{% if currentUser %}
			<a class="p-2 text-dark" href="#"></a>
		{% else %}
			
			<a class="p-2 text-dark" href="#">Registreer</a>
		{% endif %}
		<a class="p-2 text-dark" href="{{ siteUrl }}inloggen">Inloggen</a>
		
	</nav>
	
</div>