{% include '_includes/cp-edit-link' %}

<header class="bg-white border-bottom shadow-sm">
	<div class="container">
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4">
			<h5 class="my-0 mr-md-auto font-weight-normal">
				<a href="{{ siteUrl }}">
					<img src="{{ siteUrl }}public/images/leppo.png" width="200" alt="Leppo">
				</a>
			</h5>
			<nav class="my-2 my-md-0 mr-md-3 justify-content-end">
				<a class="p-2 text-grey" href="{{ siteUrl }}category">Producten</a>
				<a class="p-2 text-grey" href="{{ siteUrl }}over-ons/over">Over</a>
				<a class="p-2 text-grey" href="{{ siteUrl }}hoe-werkt-het">Hoe werkt het</a>
				<a class="p-2 pr-3 text-grey" href="{{ siteUrl }}faq">FAQ</a>
				{% if currentUser %}
					<a href="{{ siteUrl }}winkelmandje" class="mr-3">
						<i class="fa fa-1x fa-shopping-cart"></i>
						{% if cart.lineItems|length %}
							<span class="text-grey">({{ cart.lineItems|length }})</span>
						{% endif %}
					</a>
					<a class="dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="text-grey fa-lg fa fa-user-circle"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="{{ url( 'account/mijn-producten' ) }}">Mijn overzicht</a>
						<a class="dropdown-item" href="{{ url('account/user-details') }}">Mijn profiel</a>
						<p class="dropdown-item mb-0"><small><em>{{ currentUser.credits }} Credits</em></small></p>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ logoutUrl }}">Uitloggen</a>
					</div>
				{% else %}
					<a class="btn btn-outline-primary" href="{{ siteUrl }}inloggen">Inloggen</a>
				{% endif %}
			</nav>
		</div>
	</div>
</header>