{% extends '_layouts/site' %}

{% requireLogin %}

{% block main %}
    <div class="container py-3 account">
        <div class="row py-5">
            {% include '_includes/account-nav' %}

            <div class="col-8 card ml-3">
                <h5 class="py-3 ml-2">Bestel geschiedenis</h5>

                <table class="table">
                    <thead>
	                    <tr>
	                        <th>Order nummer</th>
	                        <th>Datum</th>
	                        <th>Totaalprijs</th>
	                    </tr>
                    </thead>
                    <tbody>
	                    {% for order in craft.commerce.orders.customer(craft.commerce.customer).find() %}
	                        <tr>
	                            <td><a href="{{ url('account/bestelling', { id: order.number }) }}" class="text-account account-link">#{{ order.id }}</a></td>
	                            <td>{{ order.dateOrdered }}</td>
	                            <td>{{ order.totalPrice|commerceCurrency('EUR') }}</td>
	                        </tr>
	                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}