{% extends '_layouts/site' %}

{% requireLogin %}

{% block main %}

    <div class="container py-3 account">
        <div class="row py-5">
            {% include '_includes/account-nav' %}

            <div class="col-8 card ml-3">
                <h5 class="py-3 ml-2 border-bottom border-green">Credits</h5>
                <div class="mt-3">
                    <i class="fa fa-database"></i> Credits: {{ currentUser.credits }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}