{% extends '_layouts/site' %}
{% requireLogin %}
{% block main %}
<div class="container py-3 account">
  <div class="row py-5">
      {% include '_includes/account-nav' %}

      <div class="col-8 card ml-3">
          <h5 class="py-3 ml-2 border-bottom border-green">Gebruiker details</h5>
          <table class="table table-borderless">
              <tr>
                  <td>Voornaam:</td>
                  <td>{{ currentUser.firstName }}</td>
              </tr>
              <tr>
                  <td>Achternaam:</td>
                  <td>{{ currentUser.lastName }}</td>
              </tr>
              <tr>
                  <td>Email:</td>
                  <td>{{ currentUser.email }}</td>
              </tr>
              <tr>
                  <td class="align-middle">Profielfoto:</td>
                  <td><img src="{{ currentUser.photoUrl }}" class="rounded-circle"></td>
              </tr>
          </table>
      </div>
      <div class="col-3">

      </div>
      <div class="col-8 ml-3 my-4 card">
          <a class="btn">Bewerken</a>
      </div>
  </div>
</div>
{% endblock %}