{% extends '_layouts/site' %}
{% requireLogin %}
{% block main %}
<div class="container">
  <div class="row py-4">
      <div class="col-3 border rounded">
          <img src="">
          <h4 class="my-3">Instellingen</h4>
            <ul>
                <li>Accountgegevens</li>
                <li>Notificaties</li>
                <li>Credits</li>
                <li>Producten</li>
            </ul>
      </div>
      <div class="col-9 bg-primary">
          test
      </div>
  </div>
</div>
{% endblock %}