{% extends '_layouts/site' %}
{% requireLogin %}
{% block main %}
<div class="container py-3 my-account">
  <div class="row py-5">
      <div class="col-3 border rounded bg-white shadow-sm">
            <ul>
                <li><h5>Instellingen</h5></li>
                <li><a href="#">{% currentuser.firstname %}</a></li>
                <li><a href="#">Notificaties</a></li>
                <li><a href="#">Credits</a></li>
                <li><a href="#">Producten</a></li>
            </ul>
      </div>
      <div class="col-8 border rounded bg-white shadow-sm ml-3">
          <h3>Accountgegevens</h3>
      </div>
  </div>
</div>
{% endblock %}