{% extends '_layouts/site' %}
{% requireLogin %}
{% block main %}
<div class="container py-3 account">
    <div class="row py-5">
        <div class="col-3 card">
            <ul class="py-3">
                <li class="border-bottom border-green"><h5>Settings</h5></li>
                <li><a href="{{ url( 'account/user-details' ) }}" >User details</a></li>
                <li><a href="{{ url( 'account/notifications' ) }}">Notifications</a></li>
                <li><a href="{{ url( 'account/credits' ) }}">Credits</a></li>
                <li><a href="{{ url( 'account/my-products' ) }}" class="active">My products</a></li>
                <li><a href="{{ url( 'account/order-history' ) }}">Order history</a></li>
            </ul>
        </div>
        <div class="col-8 card ml-3">
            <h5 class="py-3 ml-2 border-bottom border-green">My products</h5>

        </div>
    </div>
</div>
{% endblock %}