.my-account a {
  color: black !important; }

.my-account a:hover {
  border: none !important; }

.my-account ul {
  list-style-type: none; }

.my-account li {
  margin-top: 10px;
  margin-bottom: 10px; }
