{% extends '_layouts/site' %}

{% block main %}

<div class="container pt-5 pb-5">

    <div class="row">
        <div class="col col-3">
            <div class="card pl-2 pr-2 pt-2 pb-2">
                <h2>Categorieën</h2>

                <ul>
                {% for categoryList in craft.categories.level(1) %}
                    <li>
                        <a href="{{ categoryList.url() }}">{{ categoryList.title() }}</a>

                        {% if categoryList.children %}
                        <ul>
                            {% for categoryChild in categoryList.children %}
                            <li><a href="{{ categoryChild.url() }}">{{ categoryChild.title() }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col">
            <div class="card pl-2 pr-2 pt-2 pb-2">
                <h2>{{ category.title() }}</h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block foot %}
{{ parent() }}

<script>
    $(document).ready(function(){
        $("#pressBtn").click(function(){
            $("#atcButton").click();
        });
    });
</script>
{% endblock %}