{% extends '_layouts/site' %}

{% set user = craft.users.search('username:' ~ username).first %}

{% if user|length == 0 %}
	{% redirect '/404' %}
{% endif %}

{% block main %}

	<div class="container pt-5 pb-5">
		<div class="row">
			<div class="col-md-12 mb-5 h5">
				<strong>Aangeboden door <span class="text-grey"><em>{{ user.friendlyName }}</em></span>
				{% if user.photoUrl|length %}
					<img src="{{ user.photoUrl }}" alt="" width="75" class="ml-2 img-fluid b-blue b-rounded" />
				{% endif %}</strong>
			</div>
			{% set products = craft.commerce.products({hasVariant: {
		    	hasStock: true
		    }}).search('userId:' ~ user).find() %}

		    {% set transform = {
		    	width: 400,
		    	height: 275,
		    	mode: 'crop'
		    } %}

			{% for product in products %}
				<div class="col-md-4">
					<figure class="card card-product">
						{% if product.imgs | length %}
							<div class="img-wrap">
								<img src="{{ product.imgs.first.getUrl(transform) }}" class="img-fluid">
							</div>
						{% else %}
							<div class="img-wrap">
								<img src="http://placehold.it/400x275" class="img-fluid">
							</div>
						{% endif %}

						<figcaption class="info-wrap p-2">
							<h5 class="font-weight-bold text-black">{{ product.title}}</h5>
							<p class="text-grey"><em>{{ product.body | slice(3, 100) | raw}}
								{% if product.body | length > 100 %}
									...
								{% endif %}
								</em>
							</p>
						</figcaption>
						<div class="bottom-wrap p-2">
							<a href="{{ product.url }}" class="btn btn-sm btn-primary float-right">Details</a>	
							<div class="price-wrap h5">
								<span class="text-black">{{ product.defaultPrice | currency('EUR') }}</span><del class="price-old"></del>
							</div>
						</div>
					</figure>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}