{% extends '_layouts/site' %}

{% block main %}

<div class="container pt-5 pb-5">

  <h3>FAQ</h3>

  {% set faqQuery = craft.entries().section('faq') %}


  {% set faq = faqQuery.all() %}
  <div class="row">
    <div class="col-md-6 offset-4">
      <form class="form-inline my-lg-0">
        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Zoek antwoorden..">
        <button class="btn btnSec my-sm-0 text-white ml-1 p-2" type="submit">Search</button>
      </form>
    </div>
  </div>

    <div class="vragen mt-5">
      <div id="accordion">
        {% for question in faq %}
        <div class="col-8 offset-2">
          <div class="card">
            <div class="card-header cardColor" id="heading_{{ question.id }}">
              <h5 class="mb-0">
                <p class="vraag" data-toggle="collapse" data-target="#collapse_{{ question.id }}" aria-expanded="false" aria-controls="collapse_{{ question.id }}">
                  {{ question.title }}
                </p>
              </h5>
            </div>

            <div id="collapse_{{ question.id }}" class="collapse" aria-labelledby="heading_{{ question.id }}" data-parent="#accordion">
              <div class="card-body">
                {{ question.body }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  
</div>



{% endblock %}