{% extends '_layouts/site' %}

{% block main %}

	<div class="container hoeContainer">
		<div class="row mb-5">
			<div class="col-md-4">
				<img src="public/images/inlog.svg" class="responsible-img" width="275px">
				<h4 class="mt-4 text-center">Stap 1 Maak een account</h4>
				<p class="text-center">Maak een account aan</p>
			</div>
			<div class="col-md-4 ">
				<img src="public/images/directions.svg" class="responsible-img" width="275px">
				<h4 class="mt-4 text-center">Stap 2 Lever Product in</h4>
				<p class="text-center">Je kan je ongebruikte spullen inleveren bij een inleverpunt op een plek waar je toch al komt! Wij zorgen dat het op de website komt</p>
			</div>
			<div class="col-md-4">
				<img src="public/images/credits.svg" class="responsible-img" width="275px">
				<h4 class="mt-4 text-center">Stap 3 Verdien credits</h4>
				<p class="text-center">Als jouw product verkocht wordt, kan je credits verdienen die op je account staan.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 offset-2">
				<img src="public/images/webshop.svg" class="responsible-img" width="275px">
				<h4 class="mt-4 text-center">Stap 4 Koop producten met een deel credits</h4>
				<p class="text-center">Koop producten op de webshop een product met je verdiende credits. Bespaar geld en doe duurzaam.</p>
			</div>
			<div class="col-md-4">
				<img src="public/images/gekocht.svg" class="responsible-img" width="275px">
				<h4 class="mt-4 text-center">Stap 5 Haal product op</h4>
				<p class="text-center">Haal je gekochte producten op bij een inleverpunt.</p>
			</div>
		</div>
	</div>

{% endblock %}