{% extends '_layouts/site' %}

{% block main %}

	<div class="jumbotron jumbotron--hero mb-0" style="background-image: url({{ entry.img.first.url }})">
		<div class="container mt-2 pt-5 pb-5">
			<div class="row">
				<div class="col-12 col-md-8">
					<h1 class="text title text-uppercase"><b>{{ entry.heroTitle}}</b></h1>
					<h2 class="text-white h3 font-weight-light">{{ entry.heroSubtitle }}</h2>
					<div class="mt-5">
						<a href="{{ siteUrl }}producten-overzicht" class="btn btnColor pl-3 pr-3 pt-2 pb-2 mr-3 lees-link text-white">Producten</a>
						<a href="{{ siteUrl }}hoe-werkt-het" class="btn btn-light pl-3 pr-3 pt-2 pb-2 lees-link text-black">Hoe werkt het</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid mt-3 rating--border">
	    <div class="row">
	        <div class="col-md-12 p-0">
	            <p class="text-center rating--color">
	                Gebruikers geven ons een 4.5 van de 5
	    			<span class="text-warning mr-1">
	    				<i class="ml-1 fa fa-star"></i>
					    <i class="fa fa-star"></i>
					    <i class="fa fa-star"></i>
					    <i class="fa fa-star"></i>
	        			<i class="fa fa-star-half-full"></i>
	        		</span>
					(2605)
				</p>
	        </div>
	    </div>
	</div>

	<div class="pt-5 pb-5 bg-white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="h1 text-black text-center font-weight-bold">{{ entry.worksTitle }}</h2>
				</div>
			</div>
			<div class="row mt-5">
				{% set transform = {
					width: 150,
					height: 150,
					mode: 'crop',
					position: 'center-center'
				} %}
				{% for item in entry.howItWorks %}
					<div class="col-lg-4 col-md-6">
						<div class="text-center">
							<img src="{{ item.img.first.getUrl() }}" alt="{{ item.title }}" width="150" height="150" />
						</div>
						<div class="text-center">
							<p class="h4 font-weight-bold mt-4">{{ item.subTitle }}</p>
							<p>{{ item.description }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="jumbotron jumbotron--dark mb-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-white text-center font-weight-bold">{{ entry.productsTitle }}</h2>
				</div>
			</div>
			<div class="row mt-4">
				{% set transform = {
					width: 400,
					height: 275,
					mode: 'crop'
				} %}

				{% for product in craft.commerce.products({hasVariant: {hasStock: true }}).find() %}
					<div class="col-md-4 text-white">
						<div class="card card-product cardBorder">
							{% if product.imgs|length %}	
								<div class="img-wrap">
									<img src="{{ product.imgs.first.getUrl(transform) }}" class="img-fluid" />
								</div>
							{% else %}
								<div class="img-wrap">
									<img src="http://placehold.it/400x275" class="img-fluid" />
								</div>
							{% endif %}

							<figcaption class="info-wrap p-2">
								<h4 class="font-weight-bold text-black productText">{{ product.title}}
								</h4>
								<p class="desc text-black productText">{{ product.body | slice(3, 100) | raw}}
									{% if product.body | length > 100 %}
										...
									{% endif %}
								</p>
							</figcaption>
							<div class="bottom-wrap p-2">
								<a href="{{ product.url }}" class="btn btn-sm btnSec float-right text-white">Details</a>	
								<div class="price-wrap h5">
									<span class="price-new text-white">{{ product.defaultPrice | currency('EUR') }}</span><del class="price-old"></del>
								</div>
							</div>
						</div>
					</div>
					{# <div class="col-lg-4 col-md-6">
						<div class="text-center">
							<img src="{{ product.img.first.getUrl(transform) }}" class="img-fluid" alt="{{ product.title }}" />
						</div>

						<div class="text-center">
							<p class="h4 text-black font-weight-bold mt-3">
								<a href="{{ product.url }}">{{ product.title }}</a>
							</p>
							<p class="text-white">{{ product.defaultPrice|currency('EUR') }}</p>
						</div>
					</div> #}
				{% endfor %}
			</div>
			<div class="mt-5 text-center">
				<a href="{{ siteUrl }}category" class="btn btnColor text-white">Alles bekijken</a>
			</div>
		</div>
	</div>

	{% include '_includes/ctaBlock' %}

{% endblock %}