.jumbotron {
	border-radius: 0
}

.jumbotron--dark {
	background: #282E34;
}

$primary: #73937E;
$secondary: #4F5D75;
$white: #F1F3F4;
$gray: #E8E8E8;

.text-grey {
	color: #656060 !important;
}

body{
	font-family: 'Quicksand', sans-serif !important;
}
footer{
	background-color: white;
}
main {
  background-color: #f1f1f1;
}

.card {
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0px rgba(210, 210, 210, 0.5);
  overflow: hidden;
}

.cp-edit-url {
	font-family: Helvetica Neue,HelveticaNeue,sans-serif;
    font-size: 13px;
    transition: all .5s ease;
    position: fixed;
    bottom: 20px;
    background: $primary;
    right: 30px;
    display: inline-block;
    border-radius: 3px;
    padding: 6px 12px;
    border: none;
    z-index: 16;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    font-weight: 600;
}

.clear {
    clear: both;
}

.b-rounded {
  border-radius: 100% !important
}

.b-blue {
  border: 4px solid #3714ed
}

.text-account, a.text-account {
  color: #53bbb3!important;
}