.jumbotron {
	border-radius: 0
}

.jumbotron--dark {
	background: #282E34;
}

$primary: #73937E;
$secondary: #4F5D75;
$white: #F1F3F4;
$gray: #E8E8E8;

.text-grey {
	color: #656060 !important;
}

body {
	font-family: 'Quicksand', sans-serif !important;
}