.jumbotron--hero {
	background-position: center center;
	-webkit-box-shadow: 0 5000px rgba(0,0,0,.6) inset;
	box-shadow: 0 5000px rgba(0,0,0,.6) inset;
}

.rating--border {
	border-bottom: 1px solid #D8D8D8
}

.rating--color {
	color: #929292;
}

.title{
	color: #819e8b;
}

.btnColor{
	background-color: $primary;
}